body {
    background-image: url(images/xboxfon.jpg);
    height: 3500px;
    background-size: cover; 
    background-position: center;
    display: flex;
    flex-direction: column; 
    margin: 0;
    padding: 0;
    
}

.header {
    width: 100%; 
    padding: 20px;
    box-sizing: border-box;
}

.header__data {
    text-align: center; 
}

.header__data-text {
    color: white;
    font-size: 50px;
}

.header__data-img {
    height: 300px;
    margin: 0 auto; 
    display: block;
}

.header__data-text2 {
    color: rgb(255, 255, 255);
    font-size: 30px;
    margin-top: 20px;
}

main{
    padding: 20px;
    padding-top: 50px;
    color: rgb(255, 255, 255);
}

.main__data-text{
    font-size: 45px;
}

.main__data-ol{
    font-size: 35px; 
}

.main__data-ol_li{
    padding: 20px 0px 20px 0px;
}

.main__data-ol_li2{
    padding: 20px 0px 20px 0px;
}

.main__data-ol_li3{
    padding: 20px 0px 20px 0px;
}

.main__data-ol_li4{
    padding: 20px 0px 20px 0px;
}

.main__data-ol_li5{
    padding: 20px 0px 20px 0px;
}

.main__data-ol_li6{
    padding: 20px 0px 20px 0px;
}

.main__data-text2{
    font-size: 45px;
}

.main__data-ol2{
    font-size: 35px; 
}

.main__data-ol2_li{
    padding: 20px 0px 20px 0px;
}

.main__data-ol2_li2{
    padding: 20px 0px 20px 0px;
}

.main__data-text3{
    font-size: 45px;
}

.main__data-ol3{
    font-size: 35px; 
}

.main__data-ol3_li{
    padding: 20px 0px 20px 0px;
}

.main__data-ol3_li2{
    padding: 20px 0px 20px 0px;
}

.main__data-text4{
    font-size: 45px;
}

.main__data-ol4{
    font-size: 35px; 
}

.main__data-ol4_li{
    padding: 20px 0px 20px 0px;
}

.main__data-text5{
    font-size: 45px;
}

.main__data-ol5{
    font-size: 35px; 
}

.main__data-ol5_li{
    padding: 20px 0px 20px 0px;
}

.footer__text{
    margin-top: 20px;
    color: rgb(255, 255, 255);
    padding: 20px;
    font-size: 35px;
}

.footer__button{
    position: relative;
    background-color: rgb(27, 133, 27) ;
    width: 400px;
    height: 70px;
    border-radius: 15px;
    border: none;
    font-size: 30px;
    cursor: pointer;
    display: flex;
    margin: auto;
    justify-content: center;
    align-items: center;
}

.a2{
    display: flex;
    color: rgb(0, 0, 0);
    text-decoration: none;
    cursor: pointer;
    height: 60px;
    width: 370px;
    background-color:  rgb(27, 133, 27)  ;
    border-radius: 15px;
    border: none;
    margin: auto;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    font-size: 35px;
    margin: auto;
    margin-bottom: 50px;
}
